name: CI

on: push

jobs:
  CI:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: cd packages/pebble && npm i && cd ../pebble-cli && npm i && cd ../..

      - name: Build
        run: cd packages/pebble && npm run build && cd ../pebble-cli && npm run build && cd ../..

      - name: Run tests
        run: cd packages/pebble && npm run test && cd ../pebble-cli && npm run test && cd ../..
